@import "tailwindcss";

@layer base {
  :root {
    /* Colors */
    --primary-color: #2c1c14;
    --dark-color: #311e06;
    --light-color: #d1c1a5;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "papyrus";
    src: url("/fonts/papyrus.ttf");
  }

  body {
    font-family: "papyrus", sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  i {
    cursor: pointer;
    transition: 0.5s;
  }
}

@layer components {
}

@keyframes banner1 {
  0% {
    transform: translateY(-50px);
  }
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-30px) rotate(1deg);
  }
  60% {
    transform: translateY(0px) rotate(-1deg);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@layer utilities {
  @keyframes banner2 {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(5px);
    }
    40% {
      transform: translateX(-2px);
    }
    60% {
      transform: translateY(2px);
    }
    80% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-banner2 {
    animation: banner2 1.2s ease forwards;
  }

  .animate-banner {
    animation: banner 1.2s ease forwards;
  }
}
